body{
    margin: 0;
    padding: 0;
    text-align: left;
    background:linear-gradient(-45deg, #EE7752,#E73C7E,#23A6D5,#23D5AB);
    background-size: 400% 400%;
    position: relative;
    animation: change 10s ease-in-out infinite;
}
table {
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.404);
    color: black;
    border-radius: 10px;
}
th, td { 
    font-weight: bold;
}
button{
    background-color: rgba(240, 248, 255, 0.466);
    font-weight: bold;
}

    .container {
        margin-top: 20px;
        margin-left:300px;
        margin-right:300px;
        margin-bottom: 50px;
        width: auto;
        height: auto;
        margin: center;
        background-color: rgba(255, 255, 255, 0.651);
        border-radius: 10px;
    }
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}